* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

label {
    user-select: none;
    margin-left: 10px;
}
input[type="checkbox"] {
    margin-left: 10px;
}
.list-group-item img {
    border-radius: 50%;
    width: 40px;
}
.card {
    /* margin: 20px 5px; */
    padding: 20px;
    max-width: 420px;
}
.card img {
    display: block;
    width: 100%;
    border: 3px solid #fff;
}

.card .info p {
    margin-bottom: 10px;
}